<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    {% include "partials/footer.html" %}
    <div class="header">
        <div class="logo-block">
            <div class="logo">
                <img src="{{ base64_logo }}" alt="Switch" style="height: 32px;" />
            </div>
            <div class="invoice-date">
                <span>Invoice Date:</span>
                {{ period_start_at }} – {{ period_end_at }}
            </div>
        </div>

        <div class="meta-right">
            <table class="meta-table">
                <tr>
                    <td>Customer:</td>
                    <td>{{ client_name }}</td>
                </tr>
                <tr>
                    <td>Site:</td>
                    <td>{{ site_name }}</td>
                </tr>
                <tr>
                    <td>Invoice Number:</td>
                    <td class="invoice-number">{{ invoice_ref }}</td>
                </tr>
            </table>
        </div>
    </div>
    <hr class="divider" />

    {% include "partials/ppa_line_items.html" %}

    <hr class="divider" />

    
    <section class="chart-section">
        {% if day_pie_chart_usage %}
        <img class="donut-chart" src="{{ day_pie_chart_usage }}" alt="Pie chart of Day usage" />
        {% endif %}

        {% if night_pie_chart_usage %}
        <img class="donut-chart" src="{{ night_pie_chart_usage }}" alt="Pie chart of Night usage" />
        {% endif %}
    </section>


    {% include "partials/meter_data.html" %}

    <div class="new-page">
        {% if ppa_off_grid_daily_usage %}
        {% include "partials/ppa_off_grid_daily_usage.html" %}
        {% endif %}

        {% if ppa_off_grid_bar_chart %}
        <section class="chart-section">
            <img class="bar-chart" src="{{ ppa_off_grid_bar_chart }}" alt="Bar chart of daily gen and solar usage" />
        </section>
        {% endif %}
    </div>

    

</body>
</html>