<table style="width: 100%;">
  <tr>
    <td>
      &copy; {{ year }} switch network {{ address }}. All rights reserved.
    </td>
  </tr>

  <tr>
    <td style="font-size: 10px; padding-top: 20px;">
      <a
        href="{{ ig_url }}"
        style="text-decoration: none; padding-right: 4px;"
      >
        <img 
          src="{{ ig_icon }}" 
          alt="instagram Logo"
          style="width: 24px;"
        />
      </a>

      <a 
        href="{{ x_url }}"
        style="text-decoration: none; padding-right: 4px;"
      >
        <img 
          src="{{ x_icon }}" 
          alt="x Logo"
          style="width: 24px;"
        />
      </a>

      <a 
        href="{{ linkedin_url }}"
        style="text-decoration: none;"
      >
        <img 
          src="{{ linkedin_icon }}" 
          alt="linkedin Logo"
          style="width: 24px;"
        />
      </a>
      
    </td>
  </tr>

</table>
